* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    transition: all .2s cubic-bezier(.34, 1.12, .68, 1.31);
}

.gallery {
    border-radius: 2rem;
    min-height: 100vh;
    background: #0b090a;
    padding-bottom: 100px;
}

.gallery .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
}

.gallery .controls .buttons {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4rem;
    width: 140px;
    background: #ced4da;
    color: #0b090a;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    margin: 8px;
    box-shadow: 0 3px 5px rgb(0, 0, 0, .3);
    text-align: center;
}

.gallery .controls li {
    text-align: center;
}

.gallery .controls .buttons.active {
    background: #d8b56c;
    color: #fff;
}

.gallery .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image {
    height: 180px;
    width: 280px;
    overflow: hidden;
    border: 4px solid #fff;
    border-radius: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    margin: 20px;
}

.gallery .image-container .image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #fff;
}

.gallery .image-container .image:hover img {
    transform: scale(1.4);
}