.leaflet-control-layers {
	/* width: 100px; */
	/* padding: 10px !important; */
}

.leaflet-control-layers-separator {
	float: left;
    width: 100%;
}

.leaflet-control-layers .leaflet-control-layers-title {
	font-size: 1.2em;
	margin: 0;
	width: 200px;
}

.leaflet-control-layers .leaflet-row {
	float: left;
    width: 100%;
}

.leaflet-control-layers .leaflet-row .leaflet-input {
	float: left;
	width: 30px;
}

.leaflet-control-layers .leaflet-row .leaflet-name {
	float: left;
	width: 60%;
}

.leaflet-control-layers .leaflet-row .leaflet-up {
	float: left;
	background-image: url(symbol/up-arrow.png);
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
}

.leaflet-control-layers .leaflet-row .leaflet-down {
	float: left;
	background-image: url(symbol/down-arrow.png);
	background-repeat: no-repeat;
	background-position: center;
    height: 20px;
    width: 16px;
    opacity: 0.75;
    cursor: pointer;
}